html,
body,
ul,
a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f9;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.top-mob {
  height: 718px;
  background-image: url("../img/header-shapes-mobile.png");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  position: fixed;
  height: 46px;
  top: 0;
  left: 0;
  padding: 5px 10px 5px 10px;
}

header {
  background: white;
  position: fixed;
  z-index: 10;
}

.logo {
  padding-top: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline {
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 6rem  1.5rem;
}

.headline h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
  color: #172b4d;
}

.headline p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.connect,
.connect:visited,
.connect:hover,
.connect:active {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.brands {
  margin: 15px 0 15px -5px;
  display: flex;
  list-style: none;
}

.brands i {
  padding-left: 10px;
  color: #505f79;
  font-size: 20px;
  font-style: normal;
}

.button-mobile {
  margin-right: 15px;
}

.work-inside {
  display: grid;
  grid-template-rows: repeat(3, auto);
  list-style: none;
  padding: 8rem 1.6rem;
  row-gap: 5em;
  justify-content: center;
}

.project {
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  background-color: #fff;
}

.work-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-details {
  display: flex;
  column-gap: 0.75em;
  align-items: center;
}

.p-details {
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
  color: #344563;
}

.ul-details {
  display: flex;
  align-content: center;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
  column-gap: 2em;
  list-style: initial;
}

.p-ul-details {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.ul-tags {
  display: flex;
  list-style: none;
  column-gap: 4px;
  margin: 15px 0 15px 0;
}

.ul-tags li {
  padding: 3px 14px 3px 14px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  font-weight: 500;
}

.btn-in {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 15px 0 15px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  font-weight: 500;
  transition: 0.7s;
}

.btn-in:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn-in:active {
  background-color: #2230d2;
  color: #fff;
}

.btn-in:disabled {
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

.about {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 3em;
  padding: 100px 24px;
  background-color: #fff;
  border-top-right-radius: 5em;
}

.about h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
  color: #172b4d;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.user-tool {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 15px;
}

.user-tool > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user-tool > div > ul {
  flex: 1 1 100%;
  list-style: none;
  margin-bottom: 10px;
}

.user-tool > div > ul > li {
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 67px;
  background-color: #f7f7f9;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding: 5px 12px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #dfe1e6;
  width: 100%;
}
